/* Main page layout stuff: */

*
{
    /*    border: 1px solid red !important;
*/
}

*
{
    display: flex;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;


    background-color: #619ab7;
/*    color: #303C6C;
*/
    color: #f4876c;

        -ms-box-sizing: border-box;
    flex-wrap: wrap;
}


.whole_page
{
    display: block;

    max-width: 100%;
    margin: auto;

/*    padding-right: 3.5%;
    padding-left: 3.5%;
*/

}





.jumbotron
{
    display: block;

    max-width: 100%;
    height: auto;
    margin: auto;
}

/*header {

    display: flex;
    flex-wrap: wrap;

}*/


.circle
{
    width: 160px;
    height: 160px;

    border: 5px solid #FBE8A6;
    -webkit-border-radius: 80px;
       -moz-border-radius: 80px;
            border-radius: 80px;
}

.body
{
    /*    width: 100%;
    margin: auto;*/
}

h1
{
    font-family: 'Lato', sans-serif;
    font-size: 56px;
    font-weight: 400;
    color: #FBE8A6;

    margin-bottom: 0;
}

h2
{
/*    color: #FBE8A6;
*/    color: #303C6C;
}

h3
{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

h4
{
    display: block;

    margin: 0;
    /*margin-bottom: 10px;*/

    text-align: right;
    text-align: center;

    /*flex-wrap: nowrap;*/
}



#subhead
{
    margin-top: 10px;
}

.name
{
    display: block;

    /*padding-right: 30px;*/

    text-align: right;

    flex-wrap: nowrap;
}



.showcase
{
    display: block;
    text-align: center;
}

.image_box{

    border: 5px solid #FBE8A6;
}



*
{
    font-family: 'Lato', sans-serif;
}


.divider
{
    width: 100%;
    height: 5px;

    background: #FBE8A6;
}

